In [1]:
import pandas as pd

In [3]:
# caldata = pd.read_csv('caldata.csv', low_memory=False)

In [6]:
caldata = pd.read_pickle('caldata.pickle')

In [7]:
caldata.head()

,Unnamed: 0,ORGANIZATI,UNIT,SUBUNIT,SUBUNIT2,FIREID,FIRENAME,FIRENUMBER,FIRECODE,CAUSE,...,mean P,std P,min P,max P,mean365 P,mean3 P,mean5 P,mean10 P,mean20 P,Year
0,0,FWS,81682,USCADBR,San Diego Bay National Wildlife Refuge,2.00E+12,PUMP HOUSE,1652,1652,Human,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
1,1,FWS,81682,USCADBR,San Diego Bay National Wildlife Refuge,2.00E+12,I5,1687,1687,Human,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
2,2,FWS,81682,USCADBR,San Diego Bay National Wildlife Refuge,2.00E+12,SOUTHBAY,1688,1688,Human,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
3,3,FWS,81682,USCADBR,San Diego Bay National Wildlife Refuge,200381682A383,CALLA FIRE,NaN,A383,Human,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003
4,4,FWS,81682,USCADBR,San Diego Bay National Wildlife Refuge,200581682B8YE,OVERPASS,NaN,B8YE,Human,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005

In [5]:
caldata.to_pickle('caldata.pickle')